.DonateForm
	margin-top -18vw
	@media tablet
		margin-top 0
		
.DonateForm label
	margin-bottom 1rem
	overflow auto
	display block
	//float left
	span
		opacity .5

.DonateCard
	width 100%
	display block
	overflow auto

.AmountField
	width 100%
	padding 8%
	border 1px solid black
	overflow auto
	margin-bottom 1rem
	position relative
	@media tablet
		padding 5%
	input
		border none
		width 4em
		margin-left -.2em
		@media tablet
			width 8em
	span:nth-child(1)
		width 1em
	input, span:nth-child(1)
		font-family typeface-h3
		font-size 10vw
		float left
		height 1.2em
		padding 0px
		@media tablet
			font-size 3vw
	span:last-child
		float right
		margin-top .8rem
		opacity .5

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.DonateInput
	width 100%
	background #f2f2f2
	height 3.5rem
	display block
	padding 1rem
	margin-bottom 1rem
	border none
	border-radius 0px
	font-family Courier

.DonateExpMonth
	width 23%
	background #f2f2f2
	height 3.5rem
	display block
	padding 1.2rem 1rem
	margin-bottom 1rem
	border none
	float left
	@media tablet
		width 13%
	@media laptop
		width 19%
	@media bigscreen
		width 14%
	input
		border none
		background transparent
		padding 0px
		font-family Courier
		display inline
		&:nth-child(1)
			width 1.5rem
			@media tablet
				width 2em
	span
		opacity .5

.DonateExpYear
	width 26%
	background #f2f2f2
	height 3.5rem
	display block
	padding 1.2rem 1rem 1.2rem 0rem
	margin-bottom 1rem
	border none
	float left
	margin-right 3%
	@media tablet
		width 35%
	@media laptop
		width 30.5%
	@media bigscreen
		width 35.5%
	.exp-year
		border none
		background transparent
		padding 0px
		font-family Courier
		display inline
		width 2.5rem
		@media tablet
			width 4.5em


.DonateCVC
	width 47.5%
	float left

.DonateCheckbox
	border none
	background green
	border-radius 0px
	height 1rem
	width 2rem

.DonateSubmit
	width 100%
	background black
	color white
	font-family typeface-h3
	border none
	border-radius 0px
	padding 1rem
	text-align center


// .payment-errors
// 	color #D63301
// 	background-color #FFCCBA
// 	padding .8rem
// 	display block
// 	margin-bottom 1rem

input.error:-ms-input-placeholder,
input.error::-moz-placeholder,
input.error::-webkit-input-placeholder{
	color:red;
}

.DonateAnony
	display block
	padding 1rem 0  2rem 0
	overflow visible
	cursor pointer

.DonateCheckbox
	display none

.DonateCheckboxLabel span
	margin-top -1.4rem
	display block
	padding-left 2rem
	opacity 1
	cursor pointer

.DonateCheckboxLabel:before {
  content: "";
  display: inline-block;
  border: 1px solid #d4dbde;
  padding: 8px;
  margin-right: 15px;
  background: #ffffff;
}
/* checked checkbox - black outline and background image for check */

.DonateCheckbox:checked + .DonateCheckboxLabel:before {
  border: 1px solid #000000;
  background: url(http://i.imgur.com/sIC2cFV.png) no-repeat center center;
  background-size 70%;

}

.DonatePerson
	height 0px
	transition all 200ms ease-out
	overflow hidden
	&.open
		height 13.5rem

.DonateError
	background #FFE1E1
	border 1px solid #FFBFBF
	padding .5rem 1rem
	color red
	margin-bottom 1rem
	margin-top 0px

.DonateConfirmation
	position fixed
	height 100vh
	width 100vw
	background black
	color white
	z-index 99999999999
	top 0px
	transition all 200ms ease-out
	opacity 0
	display none
	.line
		background white
		margin-left 0px
		margin-bottom 3rem
		width 5rem
	div
		width 80%
		margin 0 auto
		position: relative;
		top: 7%
		p
			text-align left
		@media tablet
			width 40%
			top: 50%;
			transform: translateY(-50%);

.DonateConfirmation.open
	display:block;
	opacity:1;


input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {  
   opacity: 0; 
   display: none
}