footer 
	margin-bottom 5.5vw
	margin-top -15vw
	@media laptop
		margin-top 5.5vw
	.social
		margin-top .5em
		display block
		a
			width 25px
			height 25px
			display block
			text-indent -9999px
			float left
			color #999
			margin-right 10px
			background url(_img/social_icons.svg) no-repeat top left
			background-size cover
			&:hover
			  opacity .6
			&.facebook
				background-position 0 0
			&.twitter
				background-position 50% 0
			&.linkedin
				background-position 100% 0
	// span
	// 	display block
	// 	@media tablet
	// 		display inline
	.copyright
		// opacity 
		// p 
		// 	font-size .7rem
		// 	opacity .4
		// 	@media laptop
		// 		font-size 1rem
		// 		opacity 1
	.bottomLine
		width 100%
		height 1px
		background black
		margin-bottom 11vw
		opacity 1
		@media laptop 
			height 1px
			margin-bottom 11vw
	.row:nth-child(1)
		@media phone
			padding-top 0px !important
	p a
		border none

.BackToTop
	width 100%
	font-family typeface-h3
	font-size .9rem
	padding 1rem .8rem
	border 1px solid
	transition all 200ms ease-out
	color white
	cursor pointer
	background black
	margin 2vw
	text-align center
	margin-bottom 11vw
	@media tablet
		display none