{% extends "layout.html" %}

{% block content %}

<section class="events detail">

	<!-- <div class="featphoto" style="background-image: url(http://iwantrest.com/uploads/RTD_2014.png)">
	</div> -->

	<div class="row heading">
		<div class="column col-xs-12 col-md-8">
			<div class="line"></div>
			<p class="underlined BlogBack"><a href="/events">Back to Events</a></p>
			
			<h2>{{ entry.title }}</h2>

			<p>{{ entry.eventDate|date('F d, Y') }} / {{ entry.location }}</p>
			
			{% for block in entry.body %}
				{{ block.text|markdown }}
			{% endfor %}

			<!-- <p><a class="cta" href="{{ entry.location }}" title="" target="_blank">Register Now</a></p> -->

		</div>
	</div>
	



</section>

{% endblock %}
