@font-face {
  font-family: 'CircularStdBold';
  src: url("_fonts/fonts/CircularStdBold.eot");
  src: url("_fonts/fonts/CircularStdBold.eot") format('embedded-opentype'), url("_fonts/fonts/CircularStdBold.woff2") format('woff2'), url("_fonts/fonts/CircularStdBold.woff") format('woff'), url("_fonts/fonts/CircularStdBold.ttf") format('truetype'), url("_fonts/fonts/CircularStdBold.svg#CircularStdBold") format('svg');
}
@font-face {
  font-family: 'CircularStdBook';
  src: url("_fonts/fonts/CircularStdBook.eot");
  src: url("_fonts/fonts/CircularStdBook.eot") format('embedded-opentype'), url("_fonts/fonts/CircularStdBook.woff2") format('woff2'), url("_fonts/fonts/CircularStdBook.woff") format('woff'), url("_fonts/fonts/CircularStdBook.ttf") format('truetype'), url("_fonts/fonts/CircularStdBook.svg#CircularStdBook") format('svg');
}
@font-face {
  font-family: 'GaramondNo4TLig';
  src: url("_fonts/fonts/GaramondNo4TLig.eot");
  src: url("_fonts/fonts/GaramondNo4TLig.eot") format('embedded-opentype'), url("_fonts/fonts/GaramondNo4TLig.woff2") format('woff2'), url("_fonts/fonts/GaramondNo4TLig.woff") format('woff'), url("_fonts/fonts/GaramondNo4TLig.ttf") format('truetype'), url("_fonts/fonts/GaramondNo4TLig.svg#GaramondNo4TLig") format('svg');
}
@font-face {
  font-family: 'GaramondNo4TLig_Italic';
  src: url("_fonts/fonts/GaramondNo4TLig_Italic.eot");
  src: url("_fonts/fonts/GaramondNo4TLig_Italic.eot") format('embedded-opentype'), url("_fonts/fonts/GaramondNo4TLig_Italic.woff2") format('woff2'), url("_fonts/fonts/GaramondNo4TLig_Italic.woff") format('woff'), url("_fonts/fonts/GaramondNo4TLig_Italic.ttf") format('truetype'), url("_fonts/fonts/GaramondNo4TLig_Italic.svg#GaramondNo4TLig_Italic") format('svg');
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
 *
 * Uncomment and set these variables to customize the grid.
 *
 * :root {
 *  --half-gutter-width: 0.5rem;
 *  --gutter-compensation: -0.5rem;
 *  --outer-margin: 2rem;
 * }
*/

.grid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: row-reverse;
  -ms-flex-wrap: row-reverse;
  flex-wrap: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-flex-wrap: column-reverse;
  -ms-flex-wrap: column-reverse;
  flex-wrap: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -webkit-flex-basis: 8.333333333%;
  -ms-flex-preferred-size: 8.333333333%;
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
}

.col-xs-2 {
  -webkit-flex-basis: 16.666666667%;
  -ms-flex-preferred-size: 16.666666667%;
  flex-basis: 16.666666667%;
  max-width: 16.666666667%;
}

.col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -webkit-flex-basis: 33.333333333%;
  -ms-flex-preferred-size: 33.333333333%;
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

.col-xs-5 {
  -webkit-flex-basis: 41.666666667%;
  -ms-flex-preferred-size: 41.666666667%;
  flex-basis: 41.666666667%;
  max-width: 41.666666667%;
}

.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -webkit-flex-basis: 58.333333333%;
  -ms-flex-preferred-size: 58.333333333%;
  flex-basis: 58.333333333%;
  max-width: 58.333333333%;
}

.col-xs-8 {
  -webkit-flex-basis: 66.666666667%;
  -ms-flex-preferred-size: 66.666666667%;
  flex-basis: 66.666666667%;
  max-width: 66.666666667%;
}

.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -webkit-flex-basis: 83.333333333%;
  -ms-flex-preferred-size: 83.333333333%;
  flex-basis: 83.333333333%;
  max-width: 83.333333333%;
}

.col-xs-11 {
  -webkit-flex-basis: 91.666666667%;
  -ms-flex-preferred-size: 91.666666667%;
  flex-basis: 91.666666667%;
  max-width: 91.666666667%;
}

.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.666666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-sm-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .col-sm-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .col-sm-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .col-sm-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.666666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-md-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .col-md-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .col-md-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .col-md-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.666666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-lg-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .col-lg-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .col-lg-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .col-lg-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.666666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.666666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
a, a:focus, *:focus {
	outline: none;
	noFocusLine: expression(this.onFocus=this.blur());
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: black;

}

#__bs_notify__ {
	opacity: .0 !important;
	visible: hidden;
	display: none;
}

html {
  font-size: 16px;
  font-family: GaramondNo4TLig, serif, serif;
}
@media (min-width: 62em) {
  html {
    font-size: 16px;
  }
}
body,
p {
  font-size: 1rem;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
p {
  line-height: 180%;
  margin: -0.5em 0 1.5em 0;
  text-align: left;
}
@media (min-width: 48em) {
  p {
    text-align: justify;
  }
}
p.lead {
  font-size: 1.25rem;
  font-weight: lighter;
}
p.noTop {
  padding-top: 0px;
  margin-top: -0.5em;
}
p i,
p em {
  font-family: GaramondNo4TLig_Italic, serif;
  font-style: normal;
}
p.small {
  font-family: CircularStdBook;
  font-size: 0.85rem;
  opacity: 0.4;
}
p em {
  font-family: CircularStdBook;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: block;
}
p a {
  border-bottom: 1px solid #000;
}
.col-md-4 p {
  text-align: left;
}
a {
  text-decoration: none;
  color: text-color;
}
a.cta {
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid;
  transition: all 200ms ease-out;
  position: relative;
  top: 1.2rem;
  background: transparent;
  color: #000;
  border-color: #000;
  cursor: pointer;
}
a.cta:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}
a.cta.inverted {
  border-color: #fff;
  color: #fff;
  background: transparent;
}
a.cta.inverted:hover {
  border-color: #fff;
  background: #fff;
  color: #000;
}
ul {
  list-style: circle;
}
ul,
ol {
  padding: 0px;
  margin: 0 0 1rem 0;
}
ul li,
ol li {
  margin: -0.5rem 0 0.5rem 3rem;
  line-height: 180%;
}
strong {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
  font-family: GaramondNo4TLig, serif;
  font-weight: normal;
  line-height: 130%;
  position: relative;
  z-index: 9999;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  font-style: normal;
}
h1 {
  font-size: 9vw;
  margin-top: -1vw;
  font-family: GaramondNo4TLig, serif;
}
@media (min-width: 62em) {
  h1 {
    font-size: 7.5vw;
  }
}
h2 {
  font-size: 8vw;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  margin: 0em 0 1em 0;
}
@media (min-width: 62em) {
  h2 {
    font-size: 4vw;
    margin: -0.53rem 0px 2.5rem 0px;
  }
}
h3,
h4 {
  font-size: 0.9rem;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  margin-bottom: 10vw;
}
@media (min-width: 62em) {
  h3,
  h4 {
    margin-bottom: 2rem;
  }
}
.BlogContainer h3 {
  font-size: 8vw;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  margin: 0em 0 1em 0;
}
@media (min-width: 62em) {
  .BlogContainer h3 {
    font-size: 4vw;
    margin: 1.5rem 0px 2.5rem 0px;
  }
}
h4 {
  font-size: 2.3rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.25rem;
  color: #00f;
}
.underlined a {
  padding-bottom: 3px;
  border-bottom: #000 solid 1px;
  color: #000;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 0.9rem;
  transition: all 200ms ease-out;
}
.underlined a:hover {
  border-color: #dc4405;
  color: #dc4405;
}
.quote {
  position: relative;
  z-index: 15 !important;
}
.quote h2 {
  font-family: GaramondNo4TLig_Italic, serif;
  z-index: 15;
}
.quote p {
  color: #999;
}
.quote span {
  position: absolute;
  left: -0.4em;
}
.post h3,
.post h4 {
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 2vw;
  margin-top: 2rem;
}
.post strong,
.post em {
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  margin: 2em 0;
  display: block;
}
.post sup {
  font-size: 50%;
  top: -1em;
}
.post ol {
  opacity: 0.5;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-bottom: 6vw;
}
@media (min-width: 62em) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    margin-bottom: 0px;
  }
}
.column,
.col-xs-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
  padding-right: 2vw;
  padding-left: 2vw;
}
.row {
  padding: 4.5vw 9vw;
  overflow: visible;
  z-index: 10;
  margin-left: 0px;
  margin-right: 0px;
}
.row div {
  z-index: 11;
}
.row.stacked {
  margin-bottom: 10vw;
}
@media (min-width: 62em) {
  .row.stacked {
    margin-bottom: 0px;
  }
}
.row.heading {
  padding-top: 30vw;
  padding-bottom: 11vw;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 62em) {
  .row.heading {
    padding-top: 19vw;
    background-image: none;
    overflow: visible;
    padding-bottom: 0vw;
  }
}
.row.noHeading {
  padding-top: 30vw;
  padding-bottom: 0px;
}
@media (min-width: 62em) {
  .row.noHeading {
    padding-top: 18vw;
  }
}
.row.followup {
  padding-top: 0vw;
}
@media (min-width: 62em) {
  .row.followup {
    padding-top: 10vw;
  }
}
.row.short {
  padding-bottom: 2vw;
}
.row.double {
  padding: 11vw 9vw;
}
@media (min-width: 62em) {
  .row.noTop {
    padding-top: 0px !important;
  }
}
.column {
  overflow-y: visible;
  margin-bottom: 11vw;
}
@media (min-width: 62em) {
  .column {
    margin-bottom: 0px;
  }
}
.column .row {
  padding: 0 !important;
}
html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
body.state-menu-open {
  overflow: hidden;
}
.hidden {
  display: none;
  opacity: 0;
}
.hidden .linkedin {
  cursor: pointer;
}
.line {
  width: 8rem;
  height: 1px;
  background: #000;
  margin-bottom: 10vw;
}
@media (min-width: 62em) {
  .line {
    height: 1px;
    margin-bottom: 4.5vw;
  }
}
@media (min-width: 62em) {
  .home .row.header h1 {
    width: 90%;
  }
}
.home .heading h1 {
  width: 105%;
}
.home .heading {
  margin-bottom: 10vw;
}
.teamMember .portrait {
  width: 100%;
  padding-bottom: 75%;
  height: 0px;
  display: block;
  margin-bottom: 3rem;
  background-size: 100%;
  background-position: bottom center;
}
@media (min-width: 62em) {
  .aValue {
    margin-bottom: 5vw;
  }
}
.OurGoal {
  margin-top: 55vw;
}
@media (min-width: 48em) {
  .OurGoal {
    margin-top: 0vw;
    min-height: 48vw;
  }
}
.OurGoal h2 {
  border-top: 1px solid #000;
  padding-top: 3rem;
}
@media (min-width: 48em) {
  .OurGoal h2 {
    padding-top: 6rem;
    border-top: 1px solid #000;
  }
}
@media (min-width: 48em) {
  .BlogContainer {
    padding-top: 5vw;
  }
}
.BlogContainer .BreakLine {
  width: 100%;
  margin-bottom: 10vw;
  margin-top: 0vw;
}
@media (min-width: 48em) {
  .BlogContainer .BreakLine {
    margin-bottom: 5vw;
    margin-top: -2vw;
  }
}
.BlogContainer img {
  width: 100vw;
  margin: 2em 0 2em -11vw;
}
@media (min-width: 62em) {
  .BlogContainer img {
    width: 50vw;
    margin: 2em 0 2em -7.5vw;
  }
}
.BlogIndexItem {
  margin-bottom: 5vw;
  padding-right: 0px;
  padding-left: 0px;
}
.BlogBack {
  margin-bottom: 2rem;
}
.BlogAuthorImage {
  float: left;
  margin-top: 14px;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 1000px;
  background-size: cover;
}
.BlogMeta {
  margin-top: -1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  overflow: visible;
}
@media (min-width: 48em) {
  .BlogMeta {
    margin-bottom: 2.5rem;
  }
}
.BlogMeta p {
  float: left;
  padding: 0 0;
  opacity: 0.4;
  margin-top: 0.8rem;
  line-height: 125%;
}
@media (min-width: 48em) {
  .BlogMeta p {
    margin-top: 1.3rem;
  }
}
.post p a {
  border-bottom: 1px solid #000;
  transition: all 200ms ease;
}
.post p a:hover {
  border-color: #ccc;
}
.post p a:hover.cta {
  border-color: #000;
}
.BlogLine {
  margin-bottom: 0rem;
  margin-top: 4rem;
  height: 0.22rem;
  width: 100%;
  height: 1px;
  background: #000;
}
@media (min-width: 62em) {
  .BlogLine {
    margin-bottom: -2rem;
    margin-top: 6rem;
  }
}
.fb-share-button {
  margin-left: 20px;
}
@media (min-width: 48em) {
  .fb-share-button span {
    top: -4px;
  }
}
.DonationCTA {
  background-color: #000;
  background-image: url("/_img/blog_donatebg_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  z-index: 999;
  position: relative;
  margin-top: -18.5vw;
  margin-bottom: 20vw;
  padding-top: 10vw;
  color: #fff;
}
.DonationCTA .row {
  padding: 9vw;
}
.DonationCTA p {
  text-align: left;
}
@media (min-width: 48em) {
  .DonationCTA {
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 4.5vw;
    background-position: bottom center;
  }
}
.social {
  display: none;
}
@media (min-width: 62em) {
  .social {
    display: block;
  }
}
.EventsItem:last-of-type,
.JobsItem:last-of-type,
.NeedsItem:last-of-type {
  padding-bottom: 0px;
}
.EventsItem:last-of-type .BreakLine,
.JobsItem:last-of-type .BreakLine,
.NeedsItem:last-of-type .BreakLine {
  display: none;
}
.EventsItem p {
  text-align: left;
}
.BreakLine {
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  margin-top: 5vw;
  margin-bottom: -4vw;
  width: 95%;
}
.events .EventsThumbnail {
  opacity: 0;
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center center;
  transition: background-blend-mode 200ms ease-out;
}
.events .post h2 {
  margin-top: -0.33em;
}
.NeedsItem {
  margin-bottom: 11vw;
}
@media (min-width: 62em) {
  .NeedsItem {
    margin-bottom: 0px;
  }
}
.NeedsContents {
  margin-top: -22vw;
}
@media (min-width: 62em) {
  .NeedsContents {
    margin-top: 0px;
  }
}
.RotatedHeadline {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-left: -0.3em;
  margin-top: 2em;
}
.linked {
  transition: color 100ms ease-out;
  cursor: pointer;
}
header {
  width: 79%;
  margin: 11vw;
  position: absolute;
  z-index: 222;
  font-size: 16px;
}
@media (min-width: 62em) {
  header {
    font-size: 18px;
  }
}
header .logo {
  width: 5rem;
  height: 2.5rem;
  background: url("_img/rest_logo_outline.svg") no-repeat;
  display: block;
  background-size: 100%;
  z-index: 9996;
  transition: none;
  float: left;
  text-indent: -9999rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
.visuallyhidden {
  opacity: 0;
}
.menuHit {
  background: transparent;
  width: 2em;
  height: 2em;
  float: right;
  padding: 1em;
  margin: -0.6rem -1em 0 0;
  cursor: pointer;
  z-index: 999;
  position: relative;
  display: block;
}
@media (min-width: 62em) {
  .menuHit {
    display: none;
  }
}
.menuHit h3 {
  position: relative;
  left: -6em;
  top: 0.4em;
  float: left;
  opacity: 1;
  color: #000;
}
.menuBtn {
  float: right;
  height: 2em;
  width: 7em;
background
  top: 1em;
  right: 1em;
  text-indent: -9999em;
  position: absolute;
  z-index: 888;
}
.hamburger {
  overflow: visible;
  user-select: none;
  transition: 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  float: right;
  height: 1em;
  display: block;
  width: 1em;
  margin: 0.5em;
}
.hamburger svg {
  position: absolute;
  width: 1em;
  height: 1em;
}
.hamburger svg rect {
  fill: #000;
  opacity: 1;
  height: 2px;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
  transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
}
.hamburger.open .middle {
  transform: rotate(45deg) scaleX(1.2);
  -webkit-transform: rotate(45deg) scaleX(1.2);
}
.hamburger.open .second {
  transform: rotate(-45deg) scaleX(1.2);
  -webkit-transform: rotate(-45deg) scaleX(1.2);
}
.hamburger.open .outer {
  opacity: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
}
nav.fullMenu {
  margin-bottom: 10vw;
  position: absolute;
  top: 11.5vw;
  right: 11vw;
  z-index: 999999;
  display: none;
}
@media (min-width: 62em) {
  nav.fullMenu {
    display: block;
  }
}
nav.fullMenu ul {
  list-style: none;
}
nav.fullMenu ul li {
  list-style: none;
  float: left;
  margin: 0 0 0 1.5rem;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 0.9rem;
}
nav.fullMenu ul li a.cta {
  top: -2px;
  right: -2px;
}
nav.miniMenu {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 11vw;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s ease-in-out;
  visible: hidden;
  transition: all 0.2s linear;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  top: 0;
  z-index: 111;
  padding-bottom: 100px;
  display: block;
}
@media (min-width: 62em) {
  nav.miniMenu {
    display: none;
  }
}
nav.miniMenu.hidden {
  opacity: 0;
  visible: hidden;
  display: none;
}
nav.miniMenu.show {
  opacity: 1;
  visible: visible;
  display: block;
}
nav.miniMenu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 0;
}
nav.miniMenu li {
  list-style: none;
  margin: 1em 0;
  padding: 0px;
}
nav.miniMenu li:nth-child(1) {
  margin-top: 18vw;
}
nav.miniMenu li a {
  color: #000;
  text-decoration: none;
  padding: 2vw 0vw;
  display: block;
  font-size: 11vw;
  -webkit-transition: color 0.1s ease-in-out;
  font-family: GaramondNo4TLig, serif;
}
nav.miniMenu li a:hover {
  opacity: 0.4;
}
@media (min-width: 62em) {
  nav.miniMenu li a {
    font-size: 4vw;
    padding: 0 0 4vw 0vw;
  }
}
.DonateButtonBigParent {
  width: 0px;
  transition: all 200ms ease-out;
  overflow: hidden;
  height: 2.45rem;
  margin-left: -5rem;
  background: #008000;
  float: left;
}
.DonateButtonBigParent.open {
  width: 5rem;
}
.DonateButtonBig {
  width: 5rem;
  height: 2.45rem;
  display: block;
  background-size: 100%;
  z-index: 9996;
  transition: none;
  float: left;
  cursor: pointer;
  background: #fff;
  text-align: center;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 0.9rem;
  padding: 0.6rem 0.8rem;
  border: 1px solid;
  color: #fff;
  background: #000;
}
.featphoto {
  position: absolute;
  position: absolute;
  z-index: 0 !important;
  top: -2%;
  height: 92%;
  max-height: 780px;
  width: 60%;
  background-size: 150%;
  background-position-x: -50;
  -webkit-animation-delay: 1.2s;
  background-size: cover;
  opacity: 0;
}
@media (min-width: 62em) {
  .featphoto {
    display: block;
  }
}
.home .featphoto {
  background-image: url("_img/featphoto_home.jpg");
}
.home .featphoto {
  right: 0 !important;
  background-size: 100%;
  background-position-x: 0;
  background-repeat: no-repeat;
  height: 94vw;
  width: 65vw;
  background-position: 69% 100%;
  background-size: cover;
}
@media (min-width: 62em) {
  .home .featphoto {
    height: 44vw;
    width: 63vw;
    background-position-x: 50%;
    background-size: cover;
  }
}
.home .featphoto:nth-child(2) {
  top: 85.7vw;
  width: 65vw;
  left: 0px;
  height: 65vw;
  right: none;
  z-index: 0;
  background-color: #808080;
  background-position: center 27%;
  background-image: url("_img/featphoto_home_2.jpg");
  background-size: 150%;
}
@media (min-width: 62em) {
  .home .featphoto:nth-child(2) {
    display: block;
    top: 65.7vw;
    width: 40vw;
    left: 0px;
    height: 40vw;
  }
}
.home .featphoto:nth-child(3) {
  display: none;
  right: none;
  z-index: 0;
  top: -10000vw;
  background-color: #808080;
  background-position: bottom center;
  background-image: url("_img/featphoto_home_3.jpg");
  background-size: cover;
}
@media (min-width: 62em) {
  .home .featphoto:nth-child(3) {
    display: block;
    top: 128vw;
    width: 36vw;
    right: 0px;
    height: 36vw;
  }
}
.volunteer .featphoto {
  background-image: url("_img/featphoto_volunteer.jpg");
}
.volunteer .featphoto {
  left: 0 !important;
  background-size: 100%;
  background-position-x: 0;
  background-repeat: no-repeat;
  width: 73vw;
  height: 104vw;
  background-size: cover;
  background-position: 35% 140%;
}
@media (min-width: 62em) {
  .volunteer .featphoto {
    height: 48vw;
    width: 70vw;
    background-size: 129%;
    background-position: 0 55%;
  }
}
.volunteer .heading {
  background-position: 73% 100%;
  background-size: 210%;
}
.services .featphoto {
  background-image: url("_img/featphoto_services.jpg");
}
.services .featphoto {
  top: 0;
  left: 0;
  width: 93vw;
  height: 73vw;
  background-position: 60% 51%;
  background-size: 139%;
}
@media (min-width: 62em) {
  .services .featphoto {
    height: 46vw;
    width: 70vw;
    background-size: 110%;
  }
}
.services .heading {
  background-position: 73% 100%;
  background-size: 175%;
}
.team .featphoto {
  background-image: url("_img/featphoto_team.jpg");
}
.team .featphoto {
  right: 0 !important;
  background-size: 100%;
  background-position-x: 0;
  background-repeat: no-repeat;
  height: 55vw;
  width: 63vw;
  background-position: left bottom;
  background-size: 180%;
  top: 5.5vw;
}
@media (min-width: 62em) {
  .team .featphoto {
    height: 43vw;
    width: 70vw;
    top: 0px;
    background-position: left bottom;
    background-size: 150%;
  }
}
.team .heading {
  background-position: 73% 100%;
  background-size: 210%;
}
.values .featphoto {
  background-image: url("_img/featphoto_values.jpg");
  right: 0 !important;
  background-size: 100%;
  background-position-x: 0;
  background-repeat: no-repeat;
  height: 33vw;
  background-size: cover;
  width: 65vw;
  background-position: right bottom;
}
@media (min-width: 62em) {
  .heading {
    background-image: none !important;
  }
}
.blog.detail .featphoto {
  right: 0px;
  height: 43.5vw;
  width: 47vw;
  display: none;
}
.events.detail .featphoto {
  right: 0px;
  height: 33.5vw;
  width: 47vw;
  display: none;
}
img.offset {
  width: 211%;
  margin-top: -16%;
  margin-left: -108%;
}
.DonateForm {
  margin-top: -18vw;
}
@media (min-width: 48em) {
  .DonateForm {
    margin-top: 0;
  }
}
.DonateForm label {
  margin-bottom: 1rem;
  overflow: auto;
  display: block;
}
.DonateForm label span {
  opacity: 0.5;
}
.DonateCard {
  width: 100%;
  display: block;
  overflow: auto;
}
.AmountField {
  width: 100%;
  padding: 8%;
  border: 1px solid #000;
  overflow: auto;
  margin-bottom: 1rem;
  position: relative;
}
@media (min-width: 48em) {
  .AmountField {
    padding: 5%;
  }
}
.AmountField input {
  border: none;
  width: 4em;
  margin-left: -0.2em;
}
@media (min-width: 48em) {
  .AmountField input {
    width: 8em;
  }
}
.AmountField span:nth-child(1) {
  width: 1em;
}
.AmountField input,
.AmountField span:nth-child(1) {
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 10vw;
  float: left;
  height: 1.2em;
  padding: 0px;
}
@media (min-width: 48em) {
  .AmountField input,
  .AmountField span:nth-child(1) {
    font-size: 3vw;
  }
}
.AmountField span:last-child {
  float: right;
  margin-top: 0.8rem;
  opacity: 0.5;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.DonateInput {
  width: 100%;
  background: #f2f2f2;
  height: 3.5rem;
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0px;
  font-family: Courier;
}
.DonateExpMonth {
  width: 23%;
  background: #f2f2f2;
  height: 3.5rem;
  display: block;
  padding: 1.2rem 1rem;
  margin-bottom: 1rem;
  border: none;
  float: left;
}
@media (min-width: 48em) {
  .DonateExpMonth {
    width: 13%;
  }
}
@media (min-width: 62em) {
  .DonateExpMonth {
    width: 19%;
  }
}
@media (min-width: 90em) {
  .DonateExpMonth {
    width: 14%;
  }
}
.DonateExpMonth input {
  border: none;
  background: transparent;
  padding: 0px;
  font-family: Courier;
  display: inline;
}
.DonateExpMonth input:nth-child(1) {
  width: 1.5rem;
}
@media (min-width: 48em) {
  .DonateExpMonth input:nth-child(1) {
    width: 2em;
  }
}
.DonateExpMonth span {
  opacity: 0.5;
}
.DonateExpYear {
  width: 26%;
  background: #f2f2f2;
  height: 3.5rem;
  display: block;
  padding: 1.2rem 1rem 1.2rem 0rem;
  margin-bottom: 1rem;
  border: none;
  float: left;
  margin-right: 3%;
}
@media (min-width: 48em) {
  .DonateExpYear {
    width: 35%;
  }
}
@media (min-width: 62em) {
  .DonateExpYear {
    width: 30.5%;
  }
}
@media (min-width: 90em) {
  .DonateExpYear {
    width: 35.5%;
  }
}
.DonateExpYear .exp-year {
  border: none;
  background: transparent;
  padding: 0px;
  font-family: Courier;
  display: inline;
  width: 2.5rem;
}
@media (min-width: 48em) {
  .DonateExpYear .exp-year {
    width: 4.5em;
  }
}
.DonateCVC {
  width: 47.5%;
  float: left;
}
.DonateCheckbox {
  border: none;
  background: #008000;
  border-radius: 0px;
  height: 1rem;
  width: 2rem;
}
.DonateSubmit {
  width: 100%;
  background: #000;
  color: #fff;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  border: none;
  border-radius: 0px;
  padding: 1rem;
  text-align: center;
}
input.error:-ms-input-placeholder,
input.error::-moz-placeholder,
input.error::-webkit-input-placeholder {
  color: #f00;
}
.DonateAnony {
  display: block;
  padding: 1rem 0 2rem 0;
  overflow: visible;
  cursor: pointer;
}
.DonateCheckbox {
  display: none;
}
.DonateCheckboxLabel span {
  margin-top: -1.4rem;
  display: block;
  padding-left: 2rem;
  opacity: 1;
  cursor: pointer;
}
.DonateCheckboxLabel:before {
  content: "";
  display: inline-block;
  border: 1px solid #d4dbde;
  padding: 8px;
  margin-right: 15px;
  background: #fff;
}
.DonateCheckbox:checked + .DonateCheckboxLabel:before {
  border: 1px solid #000;
  background: url("http://i.imgur.com/sIC2cFV.png") no-repeat center center;
  background-size: 70%;
}
.DonatePerson {
  height: 0px;
  transition: all 200ms ease-out;
  overflow: hidden;
}
.DonatePerson.open {
  height: 13.5rem;
}
.DonateError {
  background: #ffe1e1;
  border: 1px solid #ffbfbf;
  padding: 0.5rem 1rem;
  color: #f00;
  margin-bottom: 1rem;
  margin-top: 0px;
}
.DonateConfirmation {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #000;
  color: #fff;
  z-index: 99999999999;
  top: 0px;
  transition: all 200ms ease-out;
  opacity: 0;
  display: none;
}
.DonateConfirmation .line {
  background: #fff;
  margin-left: 0px;
  margin-bottom: 3rem;
  width: 5rem;
}
.DonateConfirmation div {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 7%;
}
.DonateConfirmation div p {
  text-align: left;
}
@media (min-width: 48em) {
  .DonateConfirmation div {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.DonateConfirmation.open {
  display: block;
  opacity: 1;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  opacity: 0;
  display: none;
}
footer {
  margin-bottom: 5.5vw;
  margin-top: -15vw;
}
@media (min-width: 62em) {
  footer {
    margin-top: 5.5vw;
  }
}
footer .social {
  margin-top: 0.5em;
  display: block;
}
footer .social a {
  width: 25px;
  height: 25px;
  display: block;
  text-indent: -9999px;
  float: left;
  color: #999;
  margin-right: 10px;
  background: url("_img/social_icons.svg") no-repeat top left;
  background-size: cover;
}
footer .social a:hover,
footer .social a opacity .6,
footer .social a.facebook {
  background-position: 0 0;
}
footer .social a.twitter {
  background-position: 50% 0;
}
footer .social a.linkedin {
  background-position: 100% 0;
}
footer .bottomLine {
  width: 100%;
  height: 1px;
  background: #000;
  margin-bottom: 11vw;
  opacity: 1;
}
@media (min-width: 62em) {
  footer .bottomLine {
    height: 1px;
    margin-bottom: 11vw;
  }
}
@media (min-width: 30em) {
  footer .row:nth-child(1) {
    padding-top: 0px !important;
  }
}
footer p a {
  border: none;
}
.BackToTop {
  width: 100%;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  font-size: 0.9rem;
  padding: 1rem 0.8rem;
  border: 1px solid;
  transition: all 200ms ease-out;
  color: #fff;
  cursor: pointer;
  background: #000;
  margin: 2vw;
  text-align: center;
  margin-bottom: 11vw;
}
@media (min-width: 48em) {
  .BackToTop {
    display: none;
  }
}
.aguide {
  position: fixed;
  background: #00f;
  width: 1px;
  height: 100vh;
  top: 0px;
  opacity: 0.3;
  z-index: 9999999;
}
.aguide:nth-child(1) {
  left: 11vw;
}
.aguide:nth-child(2) {
  right: 11vw;
}
.aguide:nth-child(3) {
  height: 1px;
  width: 100vw;
  top: 11vw;
  left: 0px;
}
.aguide {
  display: none;
}
.mobile {
  display: block;
}
@media (min-width: 48em) {
  .mobile {
    display: none;
  }
}
.desktop {
  display: none;
}
@media (min-width: 62em) {
  .desktop {
    display: block;
  }
}
