{% extends "layout.html" %}

{% block content %}


  <section class="donate">

    <div class="row heading">
      <div class="column col-xs-12">
        <div class="line"></div>
        <h1>Give rest.</h1>
      </div>
    </div>

    <div class="row">
      <div class="column col-xs-12 col-md-6">
        <form class="DonateForm" action="" method="post" id="payment-form">
          <div class="payment-errors"></div>
          <div class="form-row">
              <div class="AmountField">
                <span>$</span>
                <input class="DonateAmount" size="20" value="40" name="data[amount]" type="number" pattern="[0-9]*"/>
                <span>USD</span>
              </div>
          </div>
          <div class="DonateCard">
            <div>
              <label>Card Number</label>
            <input class="autotab DonateInput DonateCardNumber rqrd" size="16" data-stripe="number" type="tel" pattern="[0-9]*" maxlength="16"/>
            </div>
            <label>Expiration Date & CVC</label>

            <div class="DonateExpMonth">
              
              <input class="autotab exp-month rqrd" size="2" data-stripe="exp-month" placeholder="00" type="tel" pattern="[0-9]*" maxlength="2"/>
              <span>/</span>
            </div>
            <div class="DonateExpYear">
              <input class="autotab exp-year rqrd" size="4" data-stripe="exp-year" placeholder="0000" type="tel" pattern="[0-9]*" maxlength="4"/>
            </div>
            <div>
            <input class="autotab DonateInput DonateCVC rqrd" size="4" data-stripe="cvc" placeholder="000" type="tel" pattern="[0-9]*" maxlength="3"/>
          </div>
          </div>
          <label>Name <span>(Optional)</span></label>
          <input class="DonateInput DonateName" data-stripe="name" type="text"/>
          <label>Email <span>(Optional)</span></label>
            <input class="DonateInput DonateEmail" name="data[receipt_email]"  type="email"/>
          <!-- <div class="DonateAnony unselectable">
            <input class="DonateCheckbox" type="checkbox" id="check2" checked />
            <label class="DonateCheckboxLabel" for="check2">
              <span>I'd like to donate anonymously</span>
            </label>
          </div> -->
          <!-- <div class="DonatePerson">
            <input class="DonateInput DonateName" data-stripe="name" placeholder="Full Name" value="Jeremy Beasley" type="text"/>
            <input class="DonateInput DonateEmail" data-stripe="email" placeholder="Email Address" value="jeremy@skags.com" type="email"/>
          </div> -->
          <input type="hidden" name="action" value="stripe/process/process">
          <button class="DonateSubmit" type="submit">Give $40</button>
          <br><br>
          <p class="small">Secure Payment via Stripe™</p>
        </form>
      </div>

    <div class="column col-xs-12 col-md-5 col-md-offset-1">
        <h2>The most out of<br class="mobile"> the least.</h2>
        <p>Your money works hard at REST. We’re deeply committed to financial transparency, sound fiscal policies and practices, and thoughtful allocation of the generous resources entrusted to our care. In fact REST has been recognized by the Seattle Met Magazine as the <a href="http://www.seattlemet.com/articles/2013/10/25/light-a-fire-awards-2013" target="_blank">#1 nonprofit in Seattle</a> “Making the Most Out of the Least” amount of resources. </p>
        <p>If you're interested in digging into our finances, check out this year's <a href="/_img/REST_AnnualReport2015.pdf" download="REST_AnnualReport2015.pdf">Annual Report</a> or our <a target="_blank" href="https://projects.propublica.org/nonprofits/organizations/453531020">public tax documents</a> since our 501c3 status in 2011.</p>
    </div>

  </div>

</section>

<div class="DonateConfirmation {% if message == 'Thank you for your donation.' %}open{% endif %}">
  <div>
    <h2>Thank you<!--  <span class="DonateConfirmationName"></span>, --> for your support.</h2>
    <div class="line"></div>
    <p>Your donation of ${{ donation_amount }} has been submitted. <br>We just sent you a receipt to <span class="DonateConfirmationEmail">{{ receipt_email }}</span></p>
    <a id="" class="cta inverted" href="/">Back to home</a>
  </div>
</div>

{% endblock %}

{% block jssrc %}
<!-- The required Stripe lib -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock %}
