{% extends "layout.html" %} {% block content %}

<section class="home">
	<div class="featphoto"></div>
	<div class="featphoto"></div>
	<div class="featphoto"></div>
	<div class="row heading">
		<div class="column col-xs-12 col-md-11">
			<div class="line"></div>
			<h1>On any given night in Seattle, hundreds will be sold for sex.</h1>
		</div>
	</div>
	<div class="row">
		<div class="column col-12-6 col-md-6 col-md-offset-6 OurGoal">
			<h2>Our goal is simple — freedom, safety, and hope to women & girls exploited by the sex trade.</h2>
			<p class="fpo">Each year, we provide direct services to hundreds of people exploited by the sex trade in Seattle and the greater King County area. Through our holistic continuum of care (prevention, intervention, and aftercare), we serve those who are at-risk, actively in, and those taking steps towards exiting a life of sexual exploitation.  Our desire is to see Washington become hostile to traffickers and to work ourselves out of a job. </p>
			<p class="underlined fpo"><a href="{{ siteUrl }}services">See how we work</a></p>
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-7 linked">
			<h3>From the blog</h3>{% set allEntries = craft.entries.section('blog').limit(1) %} {% for date, entries in allEntries | group("postDate|date('F d, Y')") %} {% for entry in entries %}
			<h2><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></h2>
			<div class="BlogMeta">
				<div class="BlogAuthorImage" style="background-image: url({{ entry.author.photoUrl() }})"></div>
				<p class="small">Written by {{entry.author.name}} <br class="mobile">on {{ date }}</p>
			</div>
			{% for block in entry.body.limit(1) %}
			<p>{{ block.text|markdown|trimit(400) }}</p>
			<p class="underlined"><a href="{{ entry.getUrl() }}">Read more</a></p>
			{% endfor %}
			{% endfor %} {% endfor %}
		</div>
		<!-- <div class="column col-xs-12 col-md-4">
			<h3>Give</h3>
			<p class="fpo">REST runs entirely on donations and support from private donors. Cras aliquam pellentesque sem, non dictum elit sodales scelerisque. Praesent vulputate semper sem</p>
			<p><a class="cta" href="{{ siteUrl }}donate">Donate Now</a></p>
		</div> -->
	</div>
</section>

{% endblock %}