<!DOCTYPE html>

<html>
<head>

  {% block seo %}
     <title>REST</title>
  {% endblock %}

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <meta property="og:site_name" content="REST – Real Escape from the Sex Trade"/>
  <meta property="og:type" content="website"/>
  <link href="/master.css" rel="stylesheet">
  <script src="/master.js"></script>
</head>

<body>
  {% set message = craft.session.getFlash('notice') %}
  {% if message %}
    <aside class="flash">{{ message }}</aside>
  {% endif %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-29157146-2', 'auto');
 ga('send', 'pageview');

</script>

<div class="guides">
<div class="aguide"></div>
<div class="aguide"></div>
<div class="aguide"></div>
<div class="aguide"></div>
<div class="aguide"></div>
<div class="aguide"></div>
</div>

<header>
  <div class="logo linked"><a href="/">...</a></div>
  <div class="DonateButtonBigParent">
    <a href="/donate" class="DonateButtonBig">Donate</a>
  </div>
    <div id="thing" class="menuHit">
    <h3>MENU</h3>
      <div class="menuBtn">
        <div class="hamburger">
          <svg x='0px' y='0px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'>
            <rect class='outer' width='50' height='1'/>
            <rect class='outer' y='40' width='50' height='1'/>
            <rect class='middle' y='20.5' width='50' height='1'/>
            <rect class='middle second' y='20.5' width='50' height='1'/>
          </svg>
        </div>
      </div>
    </div>
</header>

<nav class="miniMenu hidden scrollable">
  <ul>
    <li><a href="/" id="volunteer">Home</a></li>
    <li><a href="/volunteer" id="volunteer">Volunteer</a></li>
    <li><a href="/services" id="services">Services</a></li>
    <li><a href="/about" id="team">About</a></li>
    <li><a href="/events" id="events">Events</a></li>
    <li><a href="/blog" id="blog">Blog</a></li>
  </ul>
</nav>

<nav class="fullMenu">
  <ul>
    <li><a href="/volunteer" id="volunteer">Volunteer</a></li>
    <li><a href="/services" id="services">Services</a></li>
    <li><a href="/about" id="team">About</a></li>
    <li><a href="/events" id="events">Events</a></li>
    <li><a href="/blog" id="blog">Blog</a></li>
    <li><a class="cta" href="/donate">Donate</a></li>
  </ul>
</nav>

{% block content %}
{% endblock %}


<footer>

  <div class="row">
    <div class="BackToTop">Back to top</div>
    <div class="col-xs-12">
      <div class="bottomLine"></div>
    </div>
    <div class="column col-xs-12 col-md-4">
      <h3>Emergency Hotline</h3>
      <p>If you are involved in the sex trade and would like to talk to someone, please call our 24-hour hotline:<br>
      <!-- —<br> -->
      <a class="number" href="tel:2064517378">206-451-REST (7378)</a></p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <h3>General Inquiries</h3>
      <p><a href="mailto:info@iwantrest.com">info@iwantrest.com</a><br>
     <!--  425-395-4691<br> -->
      —<br>
      <a target="_blank" href="https://www.google.com/maps/place/4215+Rainier+Ave+S,+Seattle,+WA+98118/data=!4m2!3m1!1s0x54906a7279baa43d:0x3900ad72411a23b0?sa=X&ved=0CBwQ8gEwAGoVChMIn5relqueyAIVyqSICh0cZg55">4215 Rainier Avenue S. Suite B<br>Seattle, Washington 98118</a><!-- , WA 98109 -->
      <br>

      </p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <h3>Stay Connected</h3>
      <!-- <p>REST: Real Escape from the Sex Trade was founded in 2009 to build pathways of freedom, safety and hope for those exploited by the sex trade in the Seattle region.</p> -->
      <!-- <p>Newsletter signup</p> -->
      <p><a href="http://eepurl.com/pu-_9" target="_blank" class="cta">Get the newsletter!</a></p><br>
      <span class="social">
        <a class="facebook" href="http://fb.com/wewantrest" target="_blank">Facebook</a>
        <a class="twitter" href="http://twitter.com/iwantrest" target="_blank">Twitter</a>
        <a class="linkedin" href="https://www.linkedin.com/company/real-escape-from-the-sex-trade" target="_blank">Linkedin</a>
      </span>
    </div>
  </div>

  <div class="row copyright">
    <div class="col-xs-12">
      <p class="small">
        <span>&copy; 2009 — 2015</span> Real Escape from the Sex Trade. &nbsp; &nbsp; &nbsp;
        <br class="mobile">
        <br class="mobile">
        <a href="/jobs">Jobs</a> &nbsp;|&nbsp;
        <a href="/needs">Needs</a>
      </p>
       <!--  <br><br><br>
        <p><a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a></p> -->
    </div>

  </div>
</footer>

  {% block jssrc %}

  {% endblock %}




</body>

</html>
