{% extends "layout.html" %}

{% block content %}

<section class="story">

	<div class="row noHeading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>Our Story</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-9">
			<p>REST: Real Escape from the Sex Trade is an independent 501©3, Washington State Charitable Nonprofit Organization. REST was founded in November 2009 by a small team of women with experience dealing with troubled youth and sexual abuse issues, and other members of the team with backgrounds in wraparound services and case management to develop relationships with people being commercially sexually exploited (trafficked), or otherwise engaged in the sex trade or are at risk to enter. Our goal was to help them find a path to freedom. REST initiated services with three direct outreach teams: Street Outreach, Strip Club Outreach and Bikini Barista Stand (bikini barista stands are coffee stands that employ girls to wear lingerie or less) Outreach.</p>

			<p>As we began to develop and deepen our relationships by being a consistent presence with hundreds of girls being sexually exploited and sold by traffickers, a few of them began to ask us for help leaving “the life.” We used existing shelters to help the girls find safety. We developed case notes for every interaction so when a girl was relocated to another town, we could pick up where we left off with her when we saw her in Seattle again. Many girls who would disappear for a while and resurface would tell us that their pimp moved them to other parts of the United States to avoid law enforcement or to find a more lucrative market. Other girls would report being in jail.</p>

			<p>Recognizing that jail was often a time when the girls and young women were free from being watched by their traffickers, would be more reﬂective and face the inevitable consequences of the underground crime lifestyle, REST desired to capitalize and launched another direct outreach team, the Jail Outreach Team.</p>

			<p>Due to juvenile detention policy which prohibited jail outreach workers from meeting up with clients outside the center, along with other REST clients who had gained significant freedom and needed more ongoing support, REST developed and launched a mentorship program to be able to connect the girls with REST mentors who will stay involved in their lives, help them get into healthy community, and access resources.Recognizing the continued hardship for available, appropriate and effective housing options designed specifically for the victims of sexual exploitation we served, in 2011 REST conducted formal research around the idea of opening and operating a home for trafficking victims ages 18-24, including literally traveling around the world. In Atlanta, we visited the Solomon House and Wellspring Living. In Los Angeles, we spent an afternoon with Dr. Lois Lee at Children of the Night, and visited both the Walter Hoving Home and After Hours Ministries. We traveled to the Philippines and visited The Round Home. Our goal was to learn as much as we possibly could about running a home for trafficking victims, by asking questions and observing operations that were already up and running.</p>

			<p>In March 2012, we officially decided to open a pilot long-term residential home. We felt the support from the community and received early commitments from critical donors to provide start-up cash. In September 2012, we welcomed our first guest. Our plan was to begin small, with the goal of added learning from the clients we served and a forecast of future need. One year later, REST expanded our residential program to six beds for young women ages 18-24.</p>

			<p>Within just a few short years, REST has gone from a hopeful startup to a service provider the community depends on. Today, REST is an institution in the Seattle area for excellent outreach, restoration, and care of girls who are caught in the sex trade. In addition to being an official part the City of Seattle's Coordinated Effort Against Sexual Exploitation (CEASE) response network, REST has existing partnerships with Seattle Vice Squad, Seatac, Kent and Burien police officers, Seattle's Union Gospel Mission, Shared Hope International, Businesses Ending Sex Trafficking (BEST), Organization for Prostitution Survivors (OPS) and several others. Each of our partners have championed our work and desire our continued expansion.</p>
			<p></p>
			<p>Amanda Hightower<br>Executive Director</p>

			<p><img class="signature" src="http://stopbuyinggirls.com/templates/default_site/_img/signature.png"></p>

			<p class="underlined back"><a href="/about">Back to About</a></p>	
		</div>
	</div>

</section>

{% endblock %}
