{% extends "layout.html" %}

{% block content %}

<section class="volunteer">

	<div class="featphoto"></div>

	<div class="row heading">
	  	<div class="column col-xs-12">
	    	<div class="line"></div>
			<h1>Hope is not lost. <br class="desktop"><i>Volunteer</i> to serve girls, women, & men.</h1>
		</div>
	</div>

	<div class="row followup">
		<div class="column col-xs-12 col-md-6">
			<h3>You Can Bring Rest</h3>
			<p class=""><!-- You can work to bring rest to others.  -->At the core of REST is a passion to see a path of hope made for the exploited. We are a direct service provider made up of passionate people who are compelled to action by the desire for justice in our city and our state. We want Washington to be inhospitable to traffickers and we want to work ourselves out of a job. We need your help to do this.</p>
		</div>
		<div class="column col-xs-12 col-md-6">
			<h3>Attend A Training</h3>
			<p>As a prerequisite for volunteers, you'll get a better understanding of the sex trade and find a team where you can work to bring rest. This training is also open to community members who want to consider how they can make a difference in Seattle and beyond.</p>
			<p class="underlined"><a href="{{ siteUrl }}events">Next Training</a></p>
		</div>
	</div>

	<div class="row">
		<div class="column col-xs-12 col-md-9 col-md-offset-2">
				<h2>Can't volunteer? <br><!-- &nbsp; -->You can still help.</h2>
		</div>
	</div>

	<div class="row">
		<div class="column col-xs-12 col-md-4">
			<h3>Give</h3>
				<p>In just a few fast-paced years, REST has gone from a hopeful startup to an organization known for providing competent and crucial services to the most vulnerable in our community. Our work is impossible without people like you who partner with us through generous giving. </p>
				<p class="underlined"><a href="/donate" >Donate Now</a></p>
		</div>
		<div class="column col-xs-12 col-md-4">
				<h3>Meet A Need</h3>
				<p>We often hear from small groups looking for service projects or other practical ways to give, in addition to time or money. Check out our Needs page to see what kinds of goods you can donate to REST. If you have an idea that's not on the list, but believe would be of value to us, contact us!</p>
				<p class="underlined"><a href="/needs">See Our Needs</a></p>
		</div>
		<div class="column col-xs-12 col-md-4">
				<h3>Pray</h3>
				<p>Prayer is foundational to our work. Prayer Partners are crucial to our team. Prayer partners are those who commit to pray regularly for girls, women, and men in the sex-trade on their own or with the prayer team that meets weekly to pray together.</p> 
				<p class="underlined"><a href="mailto:prayer@iwantrest.com">Email Us</a></p>
		</div>
	</div>

</section>

{% endblock %}
